h1{
    color:aquamarine
   }
 
  *{
     border:solid
   }
  
   .header
   {
     background-color: black;
     display:flex;
     justify-content:space-between;
   }

.part2
{
  background-color:blanchedalmond;
}

.part3
{
  background-color: chartreuse;
}